<template>
    <div class="card">
        <div class="card-header">
            Lista zadań
            <template v-if="create">
                <v-button :loading="busy" @click.native="createC" class="float-right mr-2">
                    <fa icon="times" fixed-width/>
                </v-button>
                <v-button :loading="busy" @click.native="createS" class="float-right mr-2">
                    <fa icon="plus" fixed-width/>
                </v-button>
                <div class="form-group float-right mr-2">
                    <input type="text" v-model="create_input" class="form-control"/>
                </div>
            </template>
            <v-button :loading="busy" @click.native="createO" class="float-right mr-2" v-if="!create">
                <fa icon="plus" fixed-width/>
            </v-button>
            <v-button :loading="busy" @click.native="load" class="float-right mr-2">
                <fa icon="sync" fixed-width/>
            </v-button>
        </div>
        <div class="card-body">
            <ul>
                <li v-for="item in list" :key="list.id">
                    {{ item.name }}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import api from '~/api/list'
    import VButton from "~/components/Button";

    export default {
        name: "lists",
        components: {VButton},
        data() {
            return {
                busy: false,
                create: false,
                create_input: "",
                list: []
            }
        },
        created() {
            this.api = new api()
        },
        mounted() {
            this.load()
        },
        methods: {
            createO() {
                this.create = true;
            },
            createC() {
                this.create = false;
            },
            async createS() {
                let body = await this.api.store({ name: this.create_input })
                if(body.success)
                    this.load()
                else
                    this.$toasted.error(this.$t('error_alert_text'))
            },
            async load() {
                if(this.busy)
                    return;

                this.busy = true

                let body = await this.api.index();

                if(body.success)
                    this.list = body.data
                else
                    this.$toasted.error(this.$t('error_alert_text'))
                this.busy = false
            }
        }
    }
</script>